@font-face {
  font-family: 'context';
  src: url("assets/fonts/LiberationSans.ttf") format("truetype");
}
@font-face {
  font-family: 'title';
  src: url("assets/fonts/VHMikodacs.woff2") format("woff2");
}

:root {
  --main: #e3c39b;
  --links: #cf0000;
  --first: #3f0000;
  --second: #291810;
  --third: #533a2b;
  --fourth: #ba5503;
  --fifth: #a16a3c;
}
a:-webkit-any-link {
  color: var(--links);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #fddf01;
}

body {
  background: #000000;
  font-family: 'context', helvetica;
  text-align: center;
  color: var(--main);
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 10px;
}

h1, h2 {
  font-family: 'title', helvetica;
  letter-spacing: 1px;
  margin: 0;
}

.chapterselect a {
  background-color: transparent;
  color: var(--main);
  border: none;
  font-family: 'context', Helvetica;
  font-size: larger;
  padding: 10px;
  align-items: center;
  font-weight: bold;
  text-shadow: black 0px 0px 2px, black 0px 0px 3px, black 0px 0px 4px,
    black 0px 0px 5px, black 0px 0px 7px, 1.5px 1.5px 0 black,
    1.5px -1.5px 0 black, -1.5px 1.5px 0 black, -1.5px -1.5px 0 black,
    1.5px 0px 0 black, 0px 1.5px 0 black, -1.5px 0px 0 black,
    0px -1.5px 0 black;
  transition: 0.1s;
  text-decoration: none;
  height: 150px;
  width: 70vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  border-radius: 3%;
}
.chapterselect a:hover {
  font-size: x-large;
  color: #fddf01;
}
.chapterselect {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}